html {
    width: 100%;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    background-color: white;
    z-index: 1000;
    overflow: hidden;
    opacity: 0.8;
}

header img {
    width: 15%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    align-self: center;
}

.pages ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 80%;
}

.pages ul li {
    margin-left: 150px;
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

.pages ul li a {
    text-decoration: none;
    color: black;
    opacity: 1;
}

.bgphoto {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0.8;
    background-image: url(About_Pictures/ED_about_bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    text-decoration: double gray;
    margin-bottom: 20px;
    margin-left: 0px;
}

.abm {
    /** background-image: url(About_Pictures/Wallpaper.png);
    background-size: cover;*/
    background-color: white;
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: center;
}

.abm img {
    width: 400px;
    height: 600px;
    margin: 30px;
    position: relative;
    top: 40px;
    left: -300px;
    z-index: 2;
    box-shadow: 5px 5px 5px 6px rgb(110, 109, 109);
}

.textAbMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: smaller;
    width: 600px;
    height: 650px;
    margin: 20px;
    margin-top: 50px;
    overflow: hidden;
    background-color: #F6F6F6;
    margin-right: 200px;
    box-shadow: 10px 10px 5px 12px rgba(136, 128, 128, 0.849);
    position: absolute;
    right: 0px;
    z-index: 1;
}

.textAbMe p {
    margin: 20px;
    margin-top: 0px;
    padding: 40px;
    padding-top: 0px;
    margin-left: 100px;
}

.travel {
    display: block;
    position: relative;
    width: 100%;
    background-color: #F1EBE4;
    border-top: 1px solid black;
    border-bottom: 1px solid rgb(56, 53, 53);
    padding: 10px;
    overflow: hidden;
    height: 680px;
}

.t1 {
    display: flex;
    position: absolute;
    height: 200px;
    width: 250px;
    z-index: 3;
    overflow-y: hidden;
    background-color: #F1EBE4;
}

.t1 img {
    display: flex;
    position: absolute;
    top: 10px;
    left: 0px;
    margin-bottom: 10px;
    width: 90%;
    height: 80%;
    z-index: 3;
}

.t2 {
    display: flex;
    height: 370px;
    width: 300px;
    position: relative;
    top: 100px;
    left: 100px;
    overflow: hidden;
    z-index: 2;
    background-color: #F1EBE4;
}

.t2 img {
    display: flex;
    position: relative;
    top: 20px;
    left: 0;
    width: 90%;
    height: 90%;
    z-index: 2;
}

.t3 {
    display: flex;
    position: absolute;
    height: 350px;
    width: 300px;
    top: 0;
    left: 350px;
    z-index: 1;
    overflow: hidden;
}

.t4 {
    display: flex;
    height: 250px;
    width: 350px;
    position: relative;
    top: -80px;
    left: 450px;
    overflow: hidden;
    z-index: 2;
    background-color: #F1EBE4;
}

.t4 img {
    display: flex;
    position: relative;
    top: 20px;
    left: 20px;
    width: 90%;
    height: 90%;
    z-index: 2;
}


.travel_title {
    display: flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: -550px;
    left: 680px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    overflow: hidden;
    width: 580px;
}

.cursive {
    font-family: 'Antro Vectra', sans-serif;
    font-size: 50px;
}

.travel_title h1 {
    margin: 0px;
    padding: 0px;
    width: 100%;
    line-height: 50px;
}

.travel p {
    width: 350px;
    position: relative;
    left: 900px;
    top: -500px;
    line-height: 35px;
}

.travel h3 {
    font-family: 'Playfair Display', serif;
    position: relative;
    top: -580px;
    left: 100px;
    font-weight: 100;
    width: 400px;
}

.button button {
    justify-self: center;
    width: 200px;
    height: 50px;
    position: relative;
    top: -520px;
    left: 900px;
    background-color: #5A4B2E;
    border: 1px solid #5A4B2E;
}

.button a {
    color: white;
    text-decoration: none;
}

.best {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: white;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}
#titlebest{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #5A4B2E;
}
.bestdivs{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.bestdivs div{
    width: 25%;
    height: 80%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bestdivs img{
    width: 100%;
    height: 80%;

}
.bestdivs div p{
    width: 90%;
    height: 20%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 12.5px;
    color: #5A4B2E;
    line-height: 23px;
    font-weight: bold;
}