html {
    width: 100%;
    background-color: #f1ebe4;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
}

.bgphoto {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url(About_Pictures/ED_about_bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
    text-decoration: double gray;
    margin-bottom: 20px;
    margin-left: 0px;
}

.abm {
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: center;
}

.abm img {
    width: 400px;
    height: 600px;
    margin: 30px;
    position: relative;
    top: 40px;
    left: -300px;
    z-index: 2;
    box-shadow: 5px 5px 5px 6px rgb(110, 109, 109);
}

.textAbMe {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: smaller;
    width: 600px;
    height: 650px;
    margin: 20px;
    margin-top: 50px;
    overflow: hidden;
    background-image: url(About_Pictures/bg-faq.png);
    margin-right: 200px;
    box-shadow: 10px 10px 5px 12px rgba(136, 128, 128, 0.849);
    position: absolute;
    right: 0px;
    z-index: 1;
}

.textAbMe p {
    margin: 20px;
    margin-top: 0px;
    padding: 40px;
    padding-top: 0px;
    margin-left: 100px;
}

.travel {
    display: block;
    position: relative;
    width: 100%;
    background-image: url(About_Pictures/bg-faq.png);
    border-top: 1px solid black;
    border-bottom: 1px solid rgb(56, 53, 53);
    padding: 10px;
    overflow: hidden;
    height: 680px;
    flex-wrap: wrap;
}

.t1 {
    display: flex;
    position: absolute;
    height: 200px;
    width: 250px;
    z-index: 3;
    overflow-y: hidden;
    background-image: url(About_Pictures/bg-faq.png);
}

.t1 img {
    display: flex;
    position: absolute;
    top: 10px;
    left: 0px;
    margin-bottom: 10px;
    width: 90%;
    height: 80%;
    z-index: 3;
}

.t2 {
    display: flex;
    height: 370px;
    width: 300px;
    position: relative;
    top: 100px;
    left: 100px;
    overflow: hidden;
    z-index: 2;
    background-image: url(About_Pictures/bg-faq.png);
}

.t2 img {
    display: flex;
    position: relative;
    top: 20px;
    left: 0;
    width: 90%;
    height: 90%;
    z-index: 2;
}

.t3 {
    display: flex;
    position: absolute;
    height: 350px;
    width: 300px;
    top: 0;
    left: 350px;
    z-index: 1;
    overflow: hidden;
}

.t4 {
    display: flex;
    height: 250px;
    width: 350px;
    position: relative;
    top: -80px;
    left: 450px;
    overflow: hidden;
    z-index: 2;
    background-image: url(About_Pictures/bg-faq.png);
}

.t4 img {
    display: flex;
    position: relative;
    top: 20px;
    left: 20px;
    width: 90%;
    height: 90%;
    z-index: 2;
}


.travel_title {
    display: flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: -550px;
    left: 680px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    overflow: hidden;
    width: 580px;
}

.cursive {
    font-family: 'Antro Vectra', sans-serif;
    font-size: 50px;
}

.travel_title h1 {
    margin: 0px;
    padding: 0px;
    width: 100%;
    line-height: 50px;
}

.travel p {
    width: 350px;
    position: relative;
    left: 900px;
    top: -500px;
    line-height: 35px;
}

.travel h3 {
    font-family: 'Playfair Display', serif;
    position: relative;
    top: -580px;
    left: 100px;
    font-weight: 100;
    width: 400px;
}

.button button {
    justify-self: center;
    width: 200px;
    height: 50px;
    position: relative;
    top: -520px;
    left: 900px;
    background-color: #5A4B2E;
    border: 1px solid #5A4B2E;
}

.button a {
    color: white;
    text-decoration: none;
}

.best {
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

#titlebest {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #5A4B2E;
}

.bestdivs {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.bestdivs div {
    width: 25%;
    height: 80%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bestdivs img {
    width: 100%;
    height: 80%;

}

.bestdivs div p {
    width: 90%;
    height: 20%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 12.5px;
    color: #5A4B2E;
    line-height: 23px;
    font-weight: bold;
}
.imgdiv{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-bottom: 1px solid #5A4B2E;
}
.work{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 5%;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.b{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px; 
    color: #5A4B2E;
}
.butoni2{
    background-color:rgb(117, 99, 76);
    color: white;
    width: 200px;
    height: 60px;
    font-size: 18px;
    transition-duration: 0.4s;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.butoni2:hover{
    background-color: black;
    color: white;
    border: none;
}
.faq-container {
    max-width: 70%;
    margin: 50px auto;
    padding: 5%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Work Sans', sans-serif;
}

.faq-item {
    margin-bottom: 20px;
}

.question {
    font-weight: bold;
    color: #5A4B2E;
    font-size: 18px;
}

.answer {
    color: #666666;
    margin-left: 20px;
    font-size: 16px;
}

#faq {
    font-family: 'Work Sans', sans-serif;
    border-top: 1px solid #5A4B2E;
    border-bottom: 1px solid #5A4B2E;
    background-image: url(About_Pictures/bg-faq.png);
    opacity: 0.8;
    padding: 10px;
    width: 100%;
}
footer{
    background-color: rgb(167, 140, 104);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    position: relative; 
    z-index: 2;
}
.footermain{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.adresa{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    font-size: 17px;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footerfoto{
    margin-left: 20px;
    display: flex;
    width: 170px;
    align-items: flex-end; 
}
.help{
    background-image: url(About_Pictures/bg-faq.png);
    width: 100%;
    height: 20%;
    border-top: 1px solid #5A4B2E;
}
.help ul{
    display: flex;
    align-items: center;
    margin-left: 0px;
    justify-content: space-evenly;
    list-style: none;
    height: 100px;
}
.help ul li{
    text-decoration: none;
    width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5A4B2E;
}
.helptxt{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
    flex-wrap: wrap;
}
.helptxt div{
    display: flex;
    width: 20%;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #666666;
}
@media screen and (max-width: 1000px) {
    body {
        font-size: 14px; /* Adjust the font size for smaller screens */
    }

    header {
        width: 100%;
        height: auto;
        position: relative;
    }

    header img {
        width: 20%; 
        margin-left: 10%;
    }

    .pages ul {
        flex-direction: column; /* Stack the navigation items vertically */
        align-items: center;
        text-align: center;
        margin-left: 80%;
    }

    .pages ul li {
        margin: 10px;
    }

    .bgphoto {
        width: 100%;
        height: 500px; 
    }

    .abm {
        width: 100%;
        overflow: hidden;
        flex-direction: column; 
        align-items: center;
    }

    .abm img {
        display: none;
    }

    .textAbMe {
        width: 70%;
        margin: 20px ;
        padding: 20px;
        text-align: center;
        overflow: hidden;
        box-shadow: none;
        border: 1px solid burlywood;
    }
    
    .travel {
        flex-direction: column;
        align-items: center;
    }
    
    .travel img {
        display: none;
        z-index: 0;
    }
    
    .textAbMe p {
        width: 100%;
        margin-top: 10px;
        text-align: center;
        margin: 0%;
        padding: 0%;
    }

    .t1,.t2,.t3,.t4{
        z-index: 0;
    }
    .travel_title {
        top: -600px;
        left: 0;
        z-index: 999;
        font-size: 10px;
        text-align: center;
        width: 100%;
        overflow: hidden;
    }
    .travel_title span{
        font-size: 30px;
    }
    .travel p {
        width: 80%;
        top: -600px;
        left: 0;
        margin: 20px 20px;
        z-index: 999;
    }

    .travel h3 {
        top: -450px;
        left: 0;
    }

    .button button {
        top: -600px;
        left: 50px;
    }

    .best {
        height: auto;
    }

    .bestdivs {
        flex-direction: column;
        align-items: center;
    }

    .bestdivs div {
        width: 80%;
        margin: 20px auto;
    }

    .bestdivs img {
        width: 100%;
        height: auto;
    }

    .bestdivs div p {
        width: 100%;
        margin: 10px 0;
    }

    .imgdiv {
        display: none;
    }

    .work {
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
    }

    .butoni2 {
        top: -300px;
        left: 0;
    }

    .faq-container {
        max-width: 100%; /* Adjust the max-width for smaller screens */
    }

    .adresa,
    .footerfoto {
        width: 100%; /* Adjust the width of the address and footer photo */
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .help ul {
        flex-direction: row;
        height: auto;
        justify-content: space-between;
        margin: 5px;
        padding: 0px;
    }
    .help ul li{
        width: 20%;
        font-size: xx-small;
        margin: 1px;
    }



    .helptxt {
        flex-direction: row;
    }

    .helptxt div {
        width: 100%;
        margin: 10px 0;
    }
}
