html {
    width: 100%;
    background-color: white;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
}

header {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    background-color: white;
    z-index: 1000;
    overflow: hidden;
    opacity: 0.8;
}

header img {
    width: 15%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    align-self: center;
}

.pages ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 80%;
}

.pages ul li {
    margin-left: 150px;
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

.pages ul li a {
    text-decoration: none;
    color: black;
    opacity: 1;
}

.bgphoto {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: larger;
    font-weight: 900;
    background-image: url(Booking_Pictures/bgPhoto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
    text-decoration: double gray;
    margin-bottom: 20px;
    margin-left: 0px;
}
img{
    width: 90%;
    justify-self: center;
    margin-left: 5%;
    margin-right: 5%;
}
form {
    padding-top: 5%;
    border-top: 1px solid lightgray;
    max-width: 600px;
    margin: auto;
}
label {
    display: block;
    height: 40px;
    margin-bottom: 0px;
}
label[for="event-date"]{
    width: 30%;
}
input[type="text"], input[type="email"], input[type="tel"], select, textarea, input[type="date"], input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    margin-top: 0px;
    background-color: #fafafa;
    border: 1px solid lightgray;;
}

#your-name, #fiance-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#fiance-last-name, #last-name{
    margin-left: 10%;
}
#love-story{
    height: 250px;
}

button {
    background-color: #272727;
    color: white;
    padding: 10px 15px;
    width: 30%;
    height: 30%;
    border: none;
    cursor: pointer;
    align-content: center;
    margin-bottom: 10%;
}
button:hover {
    opacity: 0.2;    
}
.error-message {
    color: rgb(224, 2, 2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
footer{
    background-color: rgb(194, 181, 191);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}
.footermain{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.adresa{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    font-size: 17px;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logot{
    display: flex;
}