*{ 
    margin: 0; 
    padding: 0; 
     box-sizing: border-box; 
 } 
header {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    background-color: white;
    z-index: 1000;
    overflow: hidden;
    opacity: 0.5;
}
header img{
    width: 15%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    align-self: center;
}

.pages ul {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
    padding: 0;
    width: 85%;
}

.pages ul li {
    margin-left: 150px;
    color: black;
    text-align: center;
    font-family: sans-serif;
    align-items: center;
}
.pages ul li a{
    text-decoration: none;
    color: black;
    opacity: 1;
}
body {
    background-image: url(CourseGif.gif);
  }
 
.login-form{
    background-color: rgba(255, 252, 252, 0.493);
    width: 50%;
    margin: 150px auto;
    margin-top: 150px;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.45);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.login-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content {
    padding: 35px;
    text-align: center;
}
.input-field {
    padding: 12px 5px;
}
.input-field input {
    font-size: 16px;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-radius: 7px;
    border-bottom: 1px solid #747474;
}

.login-form .action {
    display: flex;
    flex-direction: row;
}
.action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
}
.action button:hover {
    background: #d8d8d8;
}
.action button:nth-child(2) {
    background:rgba(30, 30, 53, 0.915);
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
}
.action button:nth-child(2):hover {
    background: #3c4d6d;
}

.Teksti{
    width: 80%;
    margin: 70px auto;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(98, 96, 96, 0.45);
    background-color: rgba(255, 252, 252, 0.428);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    border-style: inset;
}
.Teksti h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Teksti h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

