*{ 
    margin: 0; 
    padding: 0; 
     box-sizing: border-box; 
 } 
header {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    background-color: white;
    z-index: 1000;
    overflow: hidden;
    opacity: 0.5;
}
header img{
    width: 15%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    align-self: center;
}

.pages ul {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
    padding: 0;
    width: 85%;
}

.pages ul li {
    margin-left: 150px;
    color: black;
    text-align: center;
    font-family: sans-serif;
    align-items: center;
}
.pages ul li a{
    text-decoration: none;
    color: black;
    opacity: 1;
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.spacer{
    margin-bottom: 100px;
}
.welcome{
    width: 100%;
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: pre-wrap;
    font-size: larger;
}
.welcome h4{
    color: rgb(94, 79, 60);
}
.complete{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(94, 79, 60);
    text-align: center;
    font-size: 22px;
}
.recentWork{
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-self: center;
}
.foto{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    z-index: 1;
}
.description{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.butoni1{
    border-radius: 40px;
    background-color:rgb(94, 79, 60);
    color: white;
    width: 350px;
    height: 60px;
    font-size: 18px;
    transition-duration: 0.4s;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.butoni1:hover{
    background-color: black;
    color: white;
    border: none;
}
.a{
    width: 100%;
    text-align: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: pre-wrap;
    font-size: 30px;
}
.complete1{
    width: 85%;
    margin-left: 100px;
    align-self: center;
    border: none;
    display: flex;
    flex-direction: column;
}
.blogs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 400px; 
}
.blogs img{
    width: 600px;
    height: 350px;
}
.Stories{
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 70px;
    font-size: large;
}
.complete2{
    width: 85%;
    margin-left: 100px;
    align-self: center;
    border: none;
    display: flex;
    flex-direction: column;
}
.WhatTheySay{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 400px; 
}
.WhatTheySay img{
    width: 600px;
    height: 350px;
}
.teksti{
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    font-size: 18px;
}
.teksti h3{
    font-size: 30px;
}
.whyEla{
    width: 50%;
    margin-left: 25%;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.whyEla h1{
    white-space: pre-wrap;
    font-size: 60px;
    text-align: center;
}
.whyEla h3{
    font-size: 30px;
    color: rgb(94, 79, 60);
    text-align: start;
}
.whyEla p{
    font-size: 18px;
    text-align: start;
}
.AboutMe{
    display: flex;
    flex-direction: row;
}
.AboutMe img{
    height: 60%;
    width: 50%;
    position:relative;
    margin-left: 15%;
    z-index: 1;
}
.abmt{
    background-color:rgb(168, 164, 159); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    margin-top: 50px;
    width: 550px;
    height: 430px;
    margin-left: 700px;
    position: absolute;
    z-index: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 50px 50px 30px 50px;
    font-size: 17px;
}
.abmt button{
    border-radius: 20px;
    background-color:rgb(40, 40, 40);
    color: white;
    width: 200px;
    height: 80px;
    transition-duration: 0.4s;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 100px;
}
.abmt button:hover{
    background-color: rgb(117, 83, 83);
}
.b{
    width: 50%;
    text-align: center;
    align-items: center;
    margin-left: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: pre-wrap;
    font-size: 40px;  
}
.butoni2{
    border-radius: 40px;
    background-color:rgb(117, 99, 76);
    color: white;
    width: 200px;
    height: 60px;
    margin-left: 43%;
    font-size: 18px;
    transition-duration: 0.4s;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.butoni2:hover{
    background-color: black;
    color: white;
    border: none;
}
footer{
    background-color: rgb(194, 181, 191);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}
.footermain{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.adresa{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    font-size: 17px;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

