*{ 
    margin: 0; 
    padding: 0; 
     box-sizing: border-box; 
 } 
header {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    background-color: white;
    z-index: 1000;
    overflow: hidden;
    opacity: 0.5;
}
header img{
    width: 15%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    align-self: center;
}

.pages ul {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
    padding: 0;
    width: 85%;
}

.pages ul li {
    margin-left: 150px;
    color: black;
    text-align: center;
    font-family: sans-serif;
    align-items: center;
}
.pages ul li a{
    text-decoration: none;
    color: black;
    opacity: 1;
}
.Background{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(HomeBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
}
.LatestWork{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}

.foto{
    display: inline;
    width: 33%;
    height: 300px;
    opacity: 70%; 
}

.foto:hover {
    opacity: 1.0;
}
.butoni{
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}

.title{
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    align-items: center;
    justify-content: center;
}
.fieldset{
    background-color: grey;
}
.blogs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 400px; 
}

.Stories{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.Sayings>h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    justify-content: center;
    text-align: center;
}

.WhatTheySay{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 400px; 
}
.teksti{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Aboutme>h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    justify-content: center;
    text-align: center;
}
.LittleAboutMe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 400px;
}
.teksti2{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
    background-color: rgb(194, 181, 191);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}
.footermain{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.adresa{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    font-size: 17px;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footerfoto{
    margin-left: 20px;
    display: flex;
    width: 170px;
    align-items: flex-end; 
}

