html {
    width: 100%;
    margin: 0px;
    background-color: #F1EBE4;
}

body {
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    background-color: white;
    z-index: 1000;
    overflow: hidden;
    opacity: 0.8;
}

header img {
    width: 15%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    align-self: center;
}

.pages ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 80%;
}

.pages ul li {
    margin-left: 150px;
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

.pages ul li a {
    text-decoration: none;
    color: black;
    opacity: 1;
}

.bgphoto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-image: url(Portofolio_Pictures/bgphoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
    text-decoration: double gray;
    margin-bottom: 20px;
    margin-left: 0px;
}
.categories{
    display: flex;
    width: 100%;
    justify-content: center;
}
.list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 80%;
    overflow: hidden;
    padding-bottom: 10px;
    align-self: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.651);
}
.list li {
    margin-right: 5%;
    color: rgba(34, 31, 31, 0.651);
    text-align: center;
    font-family: 'Playfair Display', serif;
    align-items: center;
}
#categ{
    margin-right: 50%;
    justify-self: flex-start;
    font-size: larger;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list li a {
    text-decoration: none;
    color: rgba(34, 31, 31, 0.651);
    opacity: 1;
}

.portofoliopics{
    justify-content: space-evenly;
    justify-self: center;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-self: center;
    margin-bottom: 10%;
}

.portofoliopics > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: fit-content;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
footer{
    background-color: #737373;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    position: relative; 
    z-index: 2;
    color: white;
}
.footermain{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.adresa{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    font-size: 17px;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footerfoto{
    margin-left: 20px;
    display: flex;
    width: max-content;
    align-items: flex-end; 
    justify-content: space-evenly;
}
.footerfoto img{
    margin: 10px;
}