html {
    width: 100%;
    background-color: #f1ebe4;
}

body {
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
}

header {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    background-color: white;
    z-index: 1000;
    overflow: hidden;
    opacity: 0.8;
}

header img {
    width: 15%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    align-self: center;
}

.pages ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 80%;
}

.pages ul li {
    margin-left: 150px;
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

.pages ul li a {
    text-decoration: none;
    color: black;
    opacity: 1;
}
.bgphoto {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url(Travel_Pictures/t5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
    text-decoration: double gray;
    text-shadow: 1px 1px 1px black;
    font-size: large;
    margin-bottom: 20px;
    margin-left: 0px;
}


.adventure {
    width: 100%;
    height: fit-content;
    display: flex;
    overflow: hidden;
    padding: 0px;
    align-items: center;
    justify-content: flex-end;
}

.pictures1 {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 5%;
    justify-content: space-between;
}

.adventuretext {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 10000;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-family: 'Playfair Display', serif;
    justify-content: center;

}

.adventure h1 {
    font-weight: 100;
    margin-bottom: 0px;
}

.adventure span {
    font-weight: 900;
    font-family: 'Antro Vectra', sans-serif;
    font-size: 60px;
}

.pictures1 img {
    width: 300px;
    height: 200px;

}

.button {
    margin-left: 25%;
    width: 200px;
    height: 50px;
    background-color: #5A4B2E;
    border: 1px solid #5A4B2E;
}

.button a {
    color: white;
    text-decoration: none;
}

.travel {
    margin-top: 5%;
    display: flex;
    width: 100%;
    height: fit-content;
    margin-bottom: 5%;
    border-bottom: 1px solid #5A4B2E;
    border-top: 1px solid #5A4B2E;
}

.image {
    background-image: url(Travel_Pictures/bgPhoto.jpg);
    width: 40%;
    height: 700px;
    background-position: center center;
}

.travelDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 25%;
}
.travelDate button{
    margin-left: 0px;
}
.travelDate h1{
    font-weight: 900;
    font-family: 'Antro Vectra', sans-serif;
    font-size: 60px;
    color: #5A4B2E;
    margin: 0%;
}
.travelDate h6{
    color: gray;
    margin: 0px;
}
.travelDate h4{
    color: rgb(56, 56, 56);
    font-weight: 200;
}
.travelDate p{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

.form {
    border: 4px solid #f1ebe4;
    padding-bottom: 5%;
}

.container {
    padding: 20px;
    width: 50%;
    margin-left: 25%;
    background-color: #5A4B2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: #f1ebe4;
}
.error-message{
    color: red;
}

input[type=text],
input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: #f1ebe4;
    color: #5A4B2E;
    border: none;
    width: 20%;
}

input[type=submit]:hover {
    opacity: 0.8;
}
footer{
    max-height: 277px;
    margin-top: 5px;
}
footer p{
    margin: 0px;
    padding: 0px;
}
.footermain{
    max-height: 335px;
}
@media screen and (max-width: 1000px) {
    .pictures1,.pictures2{
       display: none;
    }
    .image{
        display: none;
    }
    .travel{
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
    }
    .travelDate{
        text-align: center;
        padding: 0%;
        padding-left: 25%;
    }
    .button{
        margin-bottom: 5%;
    }
    input[type=submit] {
        width: 50%;
    }
    #newsletter-form{
        align-self: center;
        width: 100%;
        margin-bottom: 5%;
    }
    .container{
        margin-left: 20%;

    }
}